# dependencies
node_modules
.pnp
.pnp.js

# production
build
out
.next
dist

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*
!.env.example

# lockfiles
package-lock.json
yarn.lock
pnpm-lock.yaml
